
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkest-blue);
    color: var(--green);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }