:root {
    --yellow: #FFCC02;
    --green: #31e37b;
    --light-blue: #9fd0e1;
    --violet: #2F3CCC;
    --dark-blue: #112c38;
    --darkest-blue:#031016;
    --trans-white: rgba(255, 255, 255, 0.889);
}

body {
    background-color: var(--dark-blue);
    padding: 120px 30px 0px;
  
}

h1, h2, h3, h4 {
    letter-spacing: .2rem;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
    color: var(--darkest-blue)
  }

  h4 {
    color: var(--darkest-blue);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
  }
  button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--violet);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
  }

  button.passive {
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--darkest-blue);
    color: var(--green);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: var(--green);
    color: var(--violet);
  }

  button.passive:hover{
    background-color: var(--green);
    
  }