
.card {
    background-color: var(--darkest-blue);
    padding: 50px 10px ;
    border-radius: 15px;
    text-align: center;
    text-transform: uppercase;
    max-width: 60%;
    margin: auto;

 }
  
  .options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }
  
  .option {
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
    border: 1px solid var(--dark-blue);
    border-radius: 10px;
    transition: background-color 0.3s ease;
    color: var(--green)
  }
  
  .option:hover {
    background-color: var(--violet);
    color: var(--green);
    font-weight: bold;
  }
  
  .correct-answer {
    color: var(--violet);
    background: var(--green);
    font-weight: bold;
  }
  
  .answer {
    color: var(--light-blue);
    font-weight: bold;
  }
  
  .completed-message {
    color: var(--light-blue);
    font-weight: bold;
  }
  
  .completed-score {
    color: #8A2BE2;
    font-weight: bold;
  }

  .query{
    color: var(--violet);
    font-weight: bolder;
  }

  button.next {
    max-width: 60%;
  }

  h2.points-detail {
    color: var(--light-blue);
  }

.card.points{
  color: var(--light-blue);
  border: 1px solid var(--green);
  margin-top: 10px;
}