.map-container {
  background-image: url('./map_full.png');
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(32, 1fr);
  gap: 0px;
  margin: 0 auto; 
  position: relative;
  width: 420px;
  height: 640px;
  top: 50%; 
  /* padding-top: 20px; */
}