.leaderboard-card{
    background-color: var(--violet);
    border-radius: 30px;
    
}

.row-leaderboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--violet);
    border: 1px solid var(--green);
    border-radius: 30px;
    padding: 10px 20px;
    margin: 10px 0;
    width: 60%;
}

.leaderboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    background-color: var(--darkest-blue);
    border-radius: 30px;
    margin-top: 5px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--green);

}

.column1 {
    color: var(--light-blue);
    text-align: left;
    width: 55%;
}

.column2 {
    color: var(--yellow);
    width: 45%;
}

.leader {
    background-color: var(--green);
}

.leader.column1, .leader.column2 {
    color: var(--violet);
    font-weight: bolder;
    font-size: 24px;
}

.logged-in {
    background-color: var(--yellow);
}

.logged-in.column1, .logged-in.column2 {
    color: var(--violet);
    font-weight: bolder;
    font-size: 20px;
}

h2.leaderboard {
    color: var(--green)
}