  .logout-tab {
    position: fixed;
    right: 10px;
    top: 60px;
    z-index: 1000;
    background-color: var(--darkest-blue);
    color: white;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top: 4%;
  }

  button.no-styling {
    background-color: transparent;
    border: none;
    font-size: 12px;
    padding: 5px;
    max-width: 100%;
    box-shadow: var(--darkest-blue);
    color: var(--light-blue)
  }
