body {
    text-align: center;
}

.daily-points, .daily-question {
    padding-top: 8px;
    justify-content: center;
    align-items: center; 
    /* max-width: 60%; */
    margin-left: auto;
    margin-right: auto;
}



button.redeemn {
    padding: 50px 50px;
    font-size: 22px;
    color: #fff;   
    border-radius: 20px;
    width: 100%;
    /* margin-top: 10px; */
    margin-bottom: 15px;
}

button.daily-question {
    padding: 50px 80px;
    font-size: 18px;
    color: #fff;   
    border-radius: 20px;
    /* width: 100%; */
    /* margin-top: 10px; */
    margin-bottom: 15px;
}

p {
    color: var(--light-blue)
}

points-detail {
    color: var(--violet)
}


.redeem-status {
    background-color: var(--darkest-blue);
    color: var(--light-blue);
    padding: 20px;
    border: 1px solid var(--green);
    margin-bottom: 20px;
    border-radius: 15px;
    text-transform: uppercase;
    width: 60%;
    margin: 20px auto;
}

.gems {
    width: 20px;
    height: 20px;
  }

p.redeemable{
    color: var(--dark-green);
    font-size: 12px;
    text-transform: uppercase;
}

.daily-question-button{
    max-width: 100%;
    padding: 30px;
}